{% load static %}
<!DOCTYPE HTML>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="description" content="Lithium Description" />
    {% include 'includes/stylesheets.html' %}
    <title>Personal Portfolio</title>
</head>
<body>
{% include 'includes/scripts.html' %}
 <section id="page-container">

{% block content %}

{% endblock content %}

</body>
</html>